<div class="justify-content-center">
    <form class="container-md bg-white" action="">
   
        <div class="mb-3 col-2">
            <label for="inputStudentUsername" class="form-label">Student Username</label>
        <input type="username" class="form-control" id="studentUsername" aria-describedby="username-help"></input>
        <div id="username-help" class="form-text">Please enter your Username.</div>
        </div>
        <div class="mb-3 col-2">
            <label for="inputStudentPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="studentPassword" aria-describedby="password-help"></input>
        <div id="username-help" class="form-text">Please enter your Password.</div>
        </div>
        <button type="login" class="btn btn-primary">Login</button>
   
</form>
</div>