
<nav class="nav bg-dark ">
  
  <a class="navbar-brand justify-content-start" href="#">Student University</a>

  <li class="nav-item text-light">
    <a class="nav-link active" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item text-light">
    <a class="nav-link" href="/viewcourses">Courses</a>
  </li>
  <li class="nav-item text-light">
    <a class="nav-link" href="/login">Login</a>
  </li>
</nav>
