<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body class="bg-light">
    <%- include('./partials/nav.ejs') %> 

  <div class="containter-fluid">
    <div class="text-center"> 
      <h1>ERROR 404! Page NOT FOUND.</h1>
    </div>
  </div>
</body>
</html>