<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body class="bg-light">
    <%- include('./partials/nav.ejs') %> 
    
  <div class="containter-fluid">
    <div class="text-center align-items-center"> 
      <h1>Courses</h1>
      <p>Click box next to courses you're interested in and then click Add Course.</p>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          SDEV 153 Website Development
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          SDEV 140 Intro to Software Development
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          DBMS 101 Database Design and Management
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          INFO 109 Informatics Fundamentals
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          SDEV 120 Computing Logic
        </label>
      </div>
      <div>
       <button class="btn-primary btn-lg" >Add Course</button>
      </div>

      
      <%- include('./partials/footer.ejs') %>
    </div>
  </div>
</body>
</html>


