<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body class="bg-light">
    <%- include('./partials/nav.ejs') %> 

  <div class="containter-fluid">
    <div class="text-center"> 
      <h1>Class Search and Schedule Builder</h1>

      <p>Create your schedule by using the schedule builder. The schedule builder helps you easily search for classes 
        you need to successfully complete your degree! It allows you to select your courses, with times that fit your needs.
        You can select your courses by location, instructor, and times. Need more information to deciding what courses to 
        take? The schedule builder is designed so that you have all the information you need to make the right decision for 
        your schedule!</p>
      <h2>Start today! Find the classes that works for you!</h2>
    
      <a class="btn-primary btn-lg" href="/courses" >Start Here</a>
      <%- include('./partials/footer.ejs') %>
    </div>
    
  </div>
  
</body>
</html>