<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body class="bg-light">
    <%- include('./partials/nav.ejs') %> 

  <div class="containter-fluid">
    <div class="text-center"> 
      <h1 class="p-5">Enrolled Courses</h1>
      <ul class="list-group list-group-flush lead">
        <li class="list-group-item">Class 1</li>
        <li class="list-group-item">Class 2</li>
        <li class="list-group-item">Class 3</li>
        <li class="list-group-item">Class 4</li>
        <li class="list-group-item">Class 5</li>
      </ul>
      <div class="p-5">
       <a href="/courses"><button class="btn-primary btn-lg" >Add Course</button></a> 
       <a href="#"><button class="btn-primary btn-lg">Remove Course</button></a> 
      </div>
    </div>
  </div>
</body>
</html>