<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body class="bg-light">
    
  <%- include('./partials/nav.ejs') %> 

  <div class="containter-fluid align-items-center">
    
      <h1>Login</h1>
    
    

      <%- include ('./partials/login-form') %> 
      <script>
        const form = document.querySelector('form');
        form.addEventListener('submit', (e)=>{
            e.preventDefault();
            // get values
            const username = form.username.value;
            const password = form.password.value;
           
        })
      </script>
    
  </div>
  <div class="text-center align-items-center"> 
  <%- include('./partials/footer.ejs') %>
  </div>
</body>
</html>